button {
    background: none;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(193, 226, 215);
    pointer-events: auto;
}

li {
    display: inline;
}

#contact_buttons {
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
}