.Header {
    width: 90%;
    margin: 2rem 4rem 2rem 3rem; 
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: content-box;
}

.z-depth-1-half, 
.btn:hover, 
.btn-large:hover, 
.btn-small:hover, 
.btn-floating:hover {
    box-shadow: 0 4rem 4rem 0;
}